.samples li {
    transition: .3s;
}
.samples li:hover{
    background: linear-gradient(to right, #3675f4,  #5a91ff, rgb(152, 255, 152));
    border: none;
    outline: none;
}
.samples li:hover label {
    color: white;
}

.expandable-section {
    margin: 5px 10px 0px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
