/* mascot */
#welcome-box {
    padding: 10px;
    align-items: center;
    border-bottom: 2px #0137a3;
}
#welcome-box h2 {
    line-height: 1;
    padding: 5px 10px;
    border-right: 5px solid #0137a3;
    margin: 0;

}
#welcome-box #hello-box {
    align-items: center;
    gap: 10px;
}
#welcome-box #hello-txt {
    color: #0137a3;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid #0137a3;
}
#welcome-box #hello-txt #user{
    color: #05cc03;
}
#welcome-box #hello-box h1{
    margin: 0;
}
#mascot {
    width: 100px;
}


/* Samples select */
.samples .list-group ul {
    background: #dcdcdc;
    gap: 5px;
}
    .samples .genome {
        cursor: pointer;
        transition: .3s;
    }
    .samples .genome:hover{
        background: linear-gradient(to right, #3675f4,  #5a91ff, rgb(152, 255, 152));
        border: none;
        outline: none;
    }
    .samples .genome label {
        font-size: 2rem;

    }
    .samples .genome:hover label {
        color: white;
        letter-spacing: 2px;
    }
    .samples .genome:hover .users-access p {
        color: white;
    }

    .samples .genome .analysis-type {
        width: 200px;
        height: 100%;
        z-index: 100;
        margin-right: 10px;
    }

    .expandable-section {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f1f1f1;
    }



/* */

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
    transition: .3s;
}
.avatar-group {
    width: 150px;
}
.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}

.avatar-group .avatar:hover {
    z-index: 3;
    border:  2px solid #0137a3;
    width: 40px;
    height: 40px;
}

.avatar-group .avatar + .avatar {
    margin-left: -1rem;
}

input[type="checkbox"] {
    display: none;
}


/* profile */
.info-box {
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;

  }
  .info-box img {
    width: 100px;
    height: 200px;
    margin: 5px 20px 5px 20px;
  }
  .info-box ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }
  .info-box .profile-description {
    height: 205px;
  }
    .info-box .profile-description span{

    font-size: 1.2rem;
    padding: 5px;
    }
    .info-box li {
      color: #333333;
      display: flex;
      flex-direction: column;
      padding: 3px;
      font-size: 1.2rem;
      background: rgb(241, 253, 255);
    }
      .info-box li strong {
        margin-right: 5px;
      }
      .info-box li span {
        
        border-radius: 4px;
        padding: 0 10px;
        width: 100%;
      }

        .info-box #profile-notes span {
          background: rgb(194, 255, 225);
        }
        .info-box .profile-medical-history li span {
          background: rgb(194, 236, 255);
        }
        .info-box #alert {
          background: rgb(255, 194, 194);
        }



        .info-box li .notes-Content {
            max-height: 100px;
            gap: 10px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: rgb(243, 243, 243);
        }
        .info-box li div h4 {
          width: 100%;
          font-size: .9rem;
          margin: 0;
        }
        .info-box li div p {
          font-size: 1rem;
          margin: 0;
        }

/* MEDIA QUERY Celular*/
@media (max-width: 650px) {
    #welcome-box {
        flex-direction: column;
    }
    #welcome-box h2 {
        font-size: 1rem;
        border-right: none;
        letter-spacing: 2px;
    }
    #welcome-box #hello-txt {
        width: initial;
        border-bottom: none;
    }
    #welcome-box #hello-txt #user{
        color: #05cc03;
    }
    #welcome-box #hello-box h1{
        font-size: 2.2rem;
    }
    #mascot {
        width: 90px;
        margin-bottom: 10px;
    }
}