/* mascot */
#welcome-box {
    padding: 10px;
    align-items: center;
    border-bottom: 2px #0137a3;
}
#welcome-box h2 {
    line-height: 1;
    padding: 5px 10px;
    border-right: 5px solid #0137a3;
    margin: 0;

}
#welcome-box #hello-box {
    align-items: center;
    gap: 10px;
}
#welcome-box #hello-txt {
    color: #0137a3;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid #0137a3;
}
#welcome-box #hello-txt #user{
    color: #05cc03;
}
#welcome-box #hello-box h1{
    margin: 0;
}
#mascot {
    width: 100px;
}


/* Samples select */
.samples .list-group ul {
    background: #dcdcdc;
    gap: 5px;
}
    .samples .genome {
        cursor: pointer;
        transition: .3s;
    }
    .samples .genome:hover{
        background: linear-gradient(to right, #3675f4,  #5a91ff, rgb(152, 255, 152));
        border: none;
        outline: none;
    }
    .samples .genome label {
        font-size: 2rem;

    }
    .samples .genome:hover label {
        color: white;
        letter-spacing: 2px;
    }
    .samples .genome:hover .users-access p {
        color: white;
    }

    .samples .genome .analysis-type {
        width: 200px;
        height: 100%;
        z-index: 100;
        margin-right: 10px;
    }

    .expandable-section {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #dcdcdc;
    }



/* */

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}
    .avatar img {
        width: 100%;
        border-radius: 50%;
    }
    .avatar-sm {
        font-size: .875rem;
        width: 36px;
        height: 36px;
        transition: .3s;
    }
    .avatar-group {
        width: 150px;
    }
    .avatar-group .avatar {
        position: relative;
        z-index: 2;
        border: 2px solid #fff;
    }
    .avatar-group .avatar:hover {
        z-index: 3;
        border:  2px solid #0137a3;
        width: 40px;
        height: 40px;
    }
    .avatar-group .avatar + .avatar {
        margin-left: -1rem;
    }
    input[type="checkbox"] {
        display: none;
    }


/* profile */
.info-box {
    width: 100%;
    height: 100%;
    padding: 5px;
    flex-direction: column;
    gap: 5px;
}
    .info-box img {
        width: 150px;
        height: 240px;
        margin: 5px 10px 5px 15px;
    }
    .info-box ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px;
    }
        .info-box .profile-description {
            width: 100%;
            height: 100%;
        }
        .info-box .profile-description .profile-title {
            border-radius: 4px;
            display: flex;
            width: 100%;
            padding: 5px 10px;
            font-size: 1.5rem;
            list-style: none;
            font-weight: bold;
            background-color: #61839e;
            color: white;
            letter-spacing: 1px;
            margin-bottom: 5px;
            text-align: left;
            align-items: center;
        }
        .info-box .profile-description .profile-title i {
            margin-right: 10px;
            font-size: 30px;
        }
        .info-box .profile-description ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 0;
            background-color: #f1f1f1;
            border-radius: 4px;
            max-height: 195px;
            overflow-y: scroll;

        }
        .info-box .profile-description ul li {
            font-size: 1.2rem;
            padding: 3px 5px;
            border-radius: 4px;
            background-color: white;
        }
        .info-box .profile-description ul li strong {
            margin-right: 5px;
        }
            #alert {
                background-color: #c6303e;
                color: white;
            }
    
        .profile-notes ul {
            max-height: 210px;
        }
        .profile-notes .note {
            padding: 20px;
        }
            .profile-notes .note h4 {
                background: #9eadcb;
                color: white;
                width: fit-content;
                padding: 2px 5px;
                border-radius: 4px;
                font-size: 1.2rem;
                margin: 0;
            }
            .profile-notes .note p {
                margin: 0;
            }



/* MEDIA QUERY Celular*/
@media (max-width: 650px) {
    #welcome-box {
        flex-direction: column;
    }
    #welcome-box h2 {
        font-size: 1rem;
        border-right: none;
        letter-spacing: 2px;
    }
    #welcome-box #hello-txt {
        width: initial;
        border-bottom: none;
    }
    #welcome-box #hello-txt #user{
        color: #05cc03;
    }
    #welcome-box #hello-box h1{
        font-size: 2.2rem;
    }
    #mascot {
        width: 90px;
        margin-bottom: 10px;
    }
}